{{ define "main" }}
  <!-- {{ partial "portfolio.html" . }}
  {{ partial "pagination.html" . }} -->
  <div class="cuentaregresiva" style="zoom: 0.7; -moz-transform: scale(0.7); width: 630px;  margin:0 auto;"></div>
  <p style="text-align: center;">Estamos confirmando y puliendo los últimos detalles...</p>
{{ end }}
